
#jeu{position :static}
	
#frame {width: 1000px; margin:auto; left:0; right:0; height: 500px; position: relative;  border: groove 10px; background-color: black ; background-size: cover;}
	
	/* le div de barre Info et tout ce qui est dedans :  */
	
	.clickble{cursor:pointer; outline:none; }
	
	#imageAcceuil{position: absolute; visibility:hidden;}
	
	#progress-bar-container{position:relative;	top:0px;left:0px; width:100%; height:5px;}
	
		#progress-bar{position:relative; height:5px; width:0%; background:green; box-shadow: 0 0 4px rgba(0 ,0 ,0 , .5) ;}
		#progress-bar-elements{display:none;}
		#imagesChap{position: absolute; visibility:hidden;}
		
	
	#barreInfo{width: 150px; margin:auto; left:850px; height: 500px;  font-style: italic; position: absolute; background-color: rgba(255, 255,5 ,0.9);}
	
	
			/* les infos en haut à droite :  */
			.infoJoueur{position :relative ; top:20px; left : 5px; font-family:almendra; height: 22px; color: black; } 
			#infoPseudo{}
			#infoScoreTotal {}
			#infoEmplacementActuel{}
			#infoChapActuel{}
			#infoScoreChapitre{}
			#infoEtapeActuelle{display:none;}
			#infoIdJoueur{display:none;}
			
		/* le bouton de reviens vers l'acceuil:  */
		#btnAccueil{ position: absolute ; text-align: center; width: 110px; top:180px; left:25px; background-color:red;  height: 40px; color: black; font-size:25px; border-radius: 8px; visibility:hidden}
		#btnAccueil:hover{ background-color:blue;}
		
	
		
		
	/* le div de espace Jeu et tout ce qui est dedans :  */
	#espaceJeu{width: 850px; position: relative; height: 500px; background-color: white; background-size: cover; background-repeat: no-repeat; background-image: url('/Epicer/images/accueil.png'); }
				
		#etapeSuivante{ position: absolute ; text-align: center; width: 80px; bottom:25px; right:0px; background-color:green;  height: 60px; color: black; font-size:40px; border-radius: 15px; visibility:hidden ;  -webkit-animation: clignote 2s linear infinite alternate; animation: clignote 2s linear infinite alternate;}
		#etapeSuivante:hover{ background-color:blue; }
		#etapePrecedente{ position: absolute ; text-align: center; width: 80px; bottom:25px; left:0px; background-color:green;  height: 60px; color: black; font-size:40px; border-radius: 15px; visibility:hidden; -webkit-animation: clignote 2s linear infinite alternate; animation: clignote 2s linear infinite alternate;}
		#etapePrecedente:hover{ background-color:blue; }
		
		#imgesChargmnt{width: 550px; height: 300px;  position: absolute; top: 100px; left:200px; background-color: white; color:black;  cursor:progress;  font-size:25px; visibility:hidden;}
		
		#accueil{position : absolute; padding: 20px 20px 20px 20px; top:150px; left:325px;  width :200px; background-color: rgba(143,143,143, 0.8); border-radius: 10px;  -webkit-animation: appear 2s; animation: appear 2s;}
			
			
			/*le Menu dans l'acceuil */
			.acc{ position :relative; height:65px; width : 160px;  left: 20px;   padding:10px 10px 10px 5px;  color : black; border-radius: 7px; font-size:25px; }
			.acc:hover{font-size:28px; background: blue;}
			.bcWhite{background:#FFF; background: -moz-linear-gradient(#FFF, #1C1C1C);	background: -webkit-linear-gradient(#FFF, #1C1C1C); background: -o-linear-gradient(#FFF, #1C1C1C);} 
			.bcRed{background:red; background: -moz-linear-gradient(red, #1C1C1C);	background: -webkit-linear-gradient(red, #1C1C1C); background: -o-linear-gradient(red, #1C1C1C);} 
			.bcGreen{background:#04B404; background: -moz-linear-gradient(#04B404, #1C1C1C); background: -webkit-linear-gradient(#04B404, #1C1C1C); background: -o-linear-gradient(#04B404,#1C1C1C);} 
			.bcYellow{background:#FFFF00; background: -moz-linear-gradient(#FFFF00, #1C1C1C); background: -webkit-linear-gradient(#FFFF00, #1C1C1C); background: -o-linear-gradient(#FFFF00,#1C1C1C);} 
			/*voici element par element s'il faut les editer*/
			#reprendre {}
			#accederChapitre{}
			#tutoriel{}
			#historiqueScore{display:none;}
		
		#chap1Fait{visibility:hidden;}
		#chap2Fait{visibility:hidden;}
		#chap3Fait{visibility:hidden;}
		#chap4Fait{visibility:hidden;}
			
		#choixChapitre{position:absolute;  visibility:hidden;}
			.chap{ position : absolute; left: 275px; width:300px; text-align:center; height :70px; color:black; background-color:green; padding: 5px; border-radius: 20px; font-size:20px; }
			.chap:hover{ background-color: blue;}

			#chap1{top:60px;}
			#chap2{top:160px;}
			#chap3{top:260px;}
			#chap4{top:360px;}
			
	/* Le texte qui sera affiché dans le jeu*/	
	.textChap{ position: absolute; height: 135px; width: 620px; left: 120px; bottom: 5px; border: 3px groove rgb(34, 120, 15); display:none;  background-color: rgba(1, 215, 88, 0.9); -webkit-animation: appear 2s; animation: appear 2s; }
	.avatar{padding:10px 30px 20px 40px ; height: 15px;  background-position: 0px 5px ; background-repeat: no-repeat; font-size: 15px; font-weight:bold}
	.Doc {color: black; background-image: url('/Epicer/images/Doc.png');}
	.Paul{color: white; background-image: url('/Epicer/images/Paul.png');}
	
	/* La forme du login et le message d'erreur eventuel*/ 
	form {position:absolute; background-color: grey; width: 350px; height: 200px; border: 3px solid white; margin:auto; left:0; right:0; top:0; bottom:0; text-align: center; padding: 10; color:black;}
	.error{color: #D8000C; padding:10px 10px 10px 50px ; font-weight: bold; background-color: #FFBABA; background-image: url('/Epicer/images/error.png'); background-repeat: no-repeat; background-position: 10px center;font-size:20px ;}
	#errCnxn {position :relative; margin:auto; width: 295px; left:0;  right:0; top: 80px ;}
	
	
	/* pour faire apparaitre les elements doucement : */ 
	@-webkit-keyframes appear {
		from {opacity : 0;}
		to {opacity: 1;}
	}

	@keyframes appear {
		from {opacity: 0;}
		to {opacity: 1;}
	}
	
	
	@-webkit-keyframes clignote {
		0% {opacity : 0.8;}
		50% {opacity: 0.2;}
		100% {opacity: 0.8}
	}

	@keyframes clignote {
		0% {opacity : 0.8;}
		50% {opacity: 0.2;}
		100% {opacity: 0.8;}
	}
	