/* ce fichier css est destiné aux données des mini jeux */ 

	
	#strtMiniJeu{ position: absolute ; text-align: center; width: 200px; bottom:25px; left:325px;  background-color:green;  height: 60px; color: black; font-size:30px; border-radius: 10px; visibility:hidden;}
	#strtMiniJeu:hover{ background-color:blue; }
		
	#continuer{position: absolute ; text-align: center; width: 240px; bottom:25px; left:325px; background-color:green;  height: 60px; color: black; font-size:30px; border-radius: 10px; visibility:hidden;}
	#continuer:hover{ background-color:blue; }
	
	.noticeMJ{ position: absolute; border: 3px groove rgb(34, 115, 15); padding: 20px 20px 20px 20px; top:75px; left: 100px; width: 650px; height: 250px; background-color: #5A79A4; color: black; text-align: center; border-radius:12px; font-size:25px;}
	#noticeMJ1{visibility:hidden;} 
	#noticeMJ2{visibility:hidden;} 
	#noticeMJ3{visibility:hidden;} 
	#noticeMJ4{visibility:hidden;} 
	#noticeMJ5{visibility:hidden;} 
	#noticeQuizz{visibility:hidden;} 

	/* Mini jeu 1 */ 

	/* Mini jeu 2 */ 
				
		#MJ2txt1 {position: absolute; top:20px; left: 125px; width: 600px; height: 40px; background-color: #33CCCC; color: black; text-align: center; border-radius:15px; font-size:30px; visibility:hidden;}
		#MJ2txt2 {position: absolute; top:20px; left: 125px; width: 600px; height: 40px; background-color: #33CCCC; color: black; text-align: center; border-radius:15px; font-size:30px; visibility:hidden;}
		#MJ2txt3 {position: absolute; top:20px; left: 125px; width: 600px; height: 70px; background-color: #33CCCC; color: black; text-align: center; border-radius:15px; font-size:30px; visibility:hidden;}
		#MJ2txt4 {position: absolute; top:20px; left: 125px; width: 600px; height: 70px; background-color: #33CCCC; color: black; text-align: center; border-radius:15px; font-size:30px; visibility:hidden;}
		
		#MJ2jeu {position: absolute; width: 850px; height: 500px; text-align:center ;visibility:hidden;}
		
		.MJ2fig{position: absolute; width:600px; height:350px; left:125px; top:100px; border-style: solid; border-color: #33CCCC;}
		.MJ2figRep {position: absolute; width:430px; height:250px; left:150px; top:200px; border-style: solid; border-color: #33CCCC;}
		#MJ2fig1_1{visibility:hidden;}
		#MJ2fig1_2{visibility:hidden;}
		#MJ2fig2_1{visibility:hidden;}
		#MJ2fig2_2{visibility:hidden;}
		#MJ2fig3_1{visibility:hidden;}
		#MJ2fig3_2{visibility:hidden;}
		#MJ2fig4_1{visibility:hidden;}
		#MJ2fig4_2{visibility:hidden;}
		
		#photoSuivante{ position: absolute ; text-align:center; width: 80px; height: 60px; top:220px; right:60px; background-color:green; color: black; font-size:40px; border-radius: 15px; visibility:hidden ;  -webkit-animation: clignote 2s linear infinite alternate; animation: clignote 2s linear infinite alternate;}
		#actvtSuivante:hover{ background-color:blue; }
		
		
		.txtMauvaiseRep{ position: absolute; padding: 10px 0px 0px 0px ;top:5px; left: 50px; width: 750x; height: 175x; background-color: #FF8282; color: black; text-align: center; border-radius:12px; font-size:22px;}
		.txtBonneRep{ position: absolute; padding: 10px 0px 0px 0px ;top:5px; left: 50px; width: 750px; height: 170px; background-color: #1AE41A; color: black; text-align: center; border-radius:12px; font-size:22px;}
		#mj2badRep1{display:none;}
		#mj2badRep2{display:none;}
		#mj2badRep3{display:none;}
		#mj2badRep4{display:none;}
		#mj2goodRep1{display:none;}
		#mj2goodRep2{display:none;}
		#mj2goodRep3{display:none;}
		#mj2goodRep4{display:none;}
		
			
		#infoScoreMJ2{ position: absolute ; bottom:210px; left: 10px; width: 100px; height: 40px; color: black; text-align: center; visibility:hidden; font-size:25px }

	/* Mini jeu 3 */ 
	#PointRouge2{width: 850px; position: relative; height: 500px; background-color: white; background-size: cover; background-repeat: no-repeat; background-image: url('/Epicer/images/bg_point rouge1.jpg');}
		.debut{position: relative;left: 385px;top: 125px;} /* pas encore change */
		.fin1{position: relative;left: 795px;top: 150px;} /* pas encore change */
		.fin2{position: relative;left: 510px;top: 420px;} /* pas encore change */
		.fin3{position: relative;left: 55px;top: 445px;} /* pas encore change */
		.fin4{position: relative;left: 130px;top: 125px;} /* pas encore change */

	#rouge{width:85px; height: 50px; position: relative; background-image: url('/Epicer/images/envelope_rouge.png');}

	#blanc{width: 85px; height: 50px; position: relative; background-image: url('/Epicer/images/nvelope_blanc.png');}

	/* Mini jeu 4 */ 
	
		#MJ4txt1 {position: absolute; top:20px; left: 125px; width: 600px; height: 40px; background-color: #33CCCC; color: black; text-align: center; border-radius:15px; font-size:30px; visibility:hidden;}
		#MJ4txt2 {position: absolute; top:20px; left: 125px; width: 600px; height: 40px; background-color: #33CCCC; color: black; text-align: center; border-radius:15px; font-size:30px; visibility:hidden;}
		#MJ4txt3 {position: absolute; top:20px; left: 125px; width: 600px; height: 40px; background-color: #33CCCC; color: black; text-align: center; border-radius:15px; font-size:30px; visibility:hidden;}
		#MJ4txt4 {position: absolute; top:20px; left: 125px; width: 600px; height: 40px; background-color: #33CCCC; color: black; text-align: center; border-radius:15px; font-size:30px; visibility:hidden;}
		
		#MJ4jeu {position: absolute; width: 850px; height: 500px; text-align:center ;visibility:hidden;}
		
		.MJ4fig{position: absolute; width:600px; height:350px; left:125px; top:100px; border-style: solid; border-color: #33CCCC;}
		.MJ4figRep {position: absolute; width:430px; height:250px; left:150px; top:200px; border-style: solid; border-color: #33CCCC;}
		#MJ4fig1_1{visibility:hidden;}
		#MJ4fig1_2{visibility:hidden;}
		#MJ4fig2_1{visibility:hidden;}
		#MJ4fig2_2{visibility:hidden;}
		#MJ4fig3_1{visibility:hidden;}
		#MJ4fig3_2{visibility:hidden;}
		#MJ4fig4_1{visibility:hidden;}
		#MJ4fig4_2{visibility:hidden;}
		
		#photoSuivante{ position: absolute ; text-align:center; width: 80px; height: 60px; top:220px; right:60px; background-color:green; color: black; font-size:40px; border-radius: 15px; visibility:hidden ;  -webkit-animation: clignote 2s linear infinite alternate; animation: clignote 2s linear infinite alternate;}
		#actvtSuivante:hover{ background-color:blue; }
		
		/* Mauvaise réponce de la Première image*/ 
		.txtMauvaiseRep{ position: absolute; padding: 10px 0px 0px 0px ;top:5px; left: 50px; width: 750px; height: 175x; background-color: #FF8282; color: black; text-align: center; border-radius:12px; font-size:22px;}
		.txtBonneRep{ position: absolute; padding: 10px 0px 0px 0px ;top:5px; left: 50px; width: 750px; height: 170px; background-color: #1AE41A; color: black; text-align: center; border-radius:12px; font-size:22px;}
		#mj4badRep1{display:none;}
		#mj4badRep2{display:none;}
		#mj4badRep3{display:none;}
		#mj4badRep4{display:none;}
		#mj4goodRep1{display:none;}
		#mj4goodRep2{display:none;}
		#mj4goodRep3{display:none;}
		#mj4goodRep4{display:none;}
		
			
		#infoScoreMJ4{ position: absolute ; bottom:210px; left: 10px; width: 100px; height: 40px; color: black; text-align: center; visibility:hidden; font-size:25px }
	

	/* Mini jeu 5 */ 
	
		#question {position: absolute ; top:20px; left: 125px; width: 600px; height: 40px; background-color: #33CCCC; color: black; text-align: center; border-radius:15px;  visibility:hidden; font-size:30px}
		#activite {position: absolute ; top:80px; left: 200px; width: 450px; height: 400px; color: black; text-align: center; visibility:hidden; font-size:35px}	
		
		#reponseOui{left:50px; background-image: url('/Epicer/images/mj5/mj5Oui.png');}
		#reponseNon{right:50px; background-image: url('/Epicer/images/mj5/mj5Non.png');}
		.reponse {position: absolute ; width: 100px; height: 100px ; top:250px; background-size: 100%; outline:none; background-repeat: no-repeat; border-radius: 15px; visibility:hidden; cursor :pointer;} 
		.reponse:hover{ width: 130px; height: 130px }

		.feedback { position: absolute ; top:150px; left: 200px; width: 450px; height: 200px; color: black; text-align: center; display:none; font-size:35px } 
		
		.repMJ5{ position: absolute ; top:30px; left: 275px; width: 300px; height: 100px; color: black; text-align: center; visibility:hidden; font-size:35px }
		#repBonne{ background-color: #7FDD4C; } 
		#repFausse { background-color: #D8000C; } 
		
		#infoScoreMJ5{ position: absolute ; bottom:30px; left: 395px; width: 100px; height: 40px; color: black; text-align: center; visibility:hidden; font-size:25px }
		
		#actvtSuivante{ position: absolute ; text-align: center; width: 80px; height: 60px; top:220px; right:60px; background-color:green; color: black; font-size:40px; border-radius: 15px; visibility:hidden ;  -webkit-animation: clignote 2s linear infinite alternate; animation: clignote 2s linear infinite alternate;}
		#actvtSuivante:hover{ background-color:blue; }
		
		
		/* Quizz */ 
	
		/*#questionQuizz {position: absolute ; top:20px; left: 125px; width: 600px; height: 40px; background-color: #33CCCC; color: black; text-align: center; border-radius:15px;  visibility:hidden; font-size:30px}*/
		#questionQuizz {position: absolute ; top:100px; left: 120px; width: 600px; height: 200px; color: black; text-align:center; visibility:hidden; font-size:35px;}	
		
		#reponseOuiQuizz{top:320px; left:250px; background-image: url('/Epicer/images/quizz/quizzOui.png');}
		#reponseNonQuizz{top:320px; right:250px; background-image: url('/Epicer/images/quizz/quizzNon.png');}
		.reponseQuizz {position: absolute ; width: 100px; height: 100px ; top:250px; background-size: 100%; top:50%; outline:none; background-repeat: no-repeat; border-radius: 15px; visibility:hidden; cursor :pointer;} 
		.reponseQuizz:hover{ width: 130px; height: 130px }

		.feedbackQuizz { position: absolute ; top:150px; left: 180px; width: 470px; height: 240px; color: black; text-align: center; display: table-cell;vertical-align: middle; display:none; font-size:30px; } 
		
		.repQuizz{ position: absolute ; top:50px; left: 275px; width: 300px; height: 50px;  text-align: center; visibility:hidden; font-size:35px }
		#repBonneQuizz{ color: green; } 
		#repFausseQuizz { color: red; } 
		
		#infoScoreQuizz{ position: absolute ; bottom:30px; left: 365px; width: 130px; height: 40px; color: black; text-align: center; visibility:hidden; font-size:25px }
		
		#questionSuivanteQuizz{ position: absolute ; text-align: center; width: 80px; height: 60px; top:220px; right:60px; background-color:green; color: black; font-size:40px; border-radius: 15px; visibility:hidden ;  -webkit-animation: clignote 2s linear infinite alternate; animation: clignote 2s linear infinite alternate;}
		#questionSuivanteQuizz:hover{ background-color:blue; }
		
		.etoiles {position: absolute ; width: 300px; height: 100px ; top:300px; left:300px;  background-size: 100%; top:50%; outline:none; background-repeat: no-repeat; visibility:hidden;} 
		#etoile1{top:320px; background-image: url('/Epicer/images/Etoiles/etoile1.png');}
		#etoile2{top:320px; background-image: url('/Epicer/images/Etoiles/etoile2.png');}
		#etoile3{top:320px; background-image: url('/Epicer/images/Etoiles/etoile3.png');}
		
		#nbQuestion{ position: absolute ; bottom:30px; left: 700px; width: 130px; height: 40px; color: black; text-align: center; visibility:hidden; font-size:25px }
