#Image1{width: 850px; position: relative; height: 500px; background-color: white; background-size: cover; background-repeat: no-repeat;}

#Image2{width: 850px; position: relative; height: 500px; background-color: white; background-size: cover; background-repeat: no-repeat;}

#Image3{width: 850px; position: relative; height: 500px; background-color: white; background-size: cover; background-repeat: no-repeat;}
